//$primaryFont: //insert font;
//$secondaryFont: //insert font;
//$fontWeightLight: //insert fontweight light

@mixin baseButton {
  cursor: pointer;
  border: none;
  padding: 1em;
  border-radius: 7px;
  text-align: center;
  opacity: 1;
  transition: 0.1s;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    background-color: white;
  }
}
