$gameboardSize: 15;
$colsize: 43px;

//.game {
// display: grid;
// grid-template-columns: repeat($gameboardSize, $colsize);
// grid-template-rows: repeat($gameboardSize, $colsize);
// width: 600px;
// height: 600px;
//}

.row {
  display: flex;
}

.cell {
  background-color: white;
  width: $colsize;
  height: $colsize;
  border: 1px solid black;
}

.color {
  background-color: black;
}

.startGameBtn {
  @include baseButton;
  margin: 1em;
  background-color: rgb(90, 222, 174);
}
