.colorBtn{
  width: 50px;
  height: 50px;
  border: none;
  margin: 10px;
}

#btn-0{
  background: red;
}

#btn-1{
  background: yellow;
}

#btn-2{
  background: brown;
}

#btn-3{
  background: black;
}